@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text:#5ebec4;
  --background:#fdf5df;
  --background-alternative:#f92c85;
}


body {
  color: var(--text);
  background: var(--background)
}
