@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text:#79bfc4;
  --background:#fdf5df;
  --background-alternative:#e82378;
}


body {
  color: var(--text);
  background: var(--background)
}
