@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #4185d0;
  --background:#fbe29f;
  --background-alternative:#e82378;
}


body {
  color: var(--text);
  background: var(--background)
}
